.examples {
	padding-bottom: 130px;

	&__title {
		text-align: center;
		font-weight: 600;
		font-size: 45px;
		line-height: 1.36;

		letter-spacing: 0.05em;
		text-transform: uppercase;

        margin-top: 0;
        margin-bottom: 40px;
	}

	&__list {
		@extend %list;

		display: flex;
		flex-wrap: wrap;
		justify-content: center;

		margin-top: 60px;
	}
}
