.work {
	padding-top: 180px;
	padding-bottom: 130px;

	&__block {
		display: flex;
	}

	&__list {
		@extend %list;

		width: 526px;

		margin-right: 100px;
	}
	&__list--revers {
		margin-left: 100px;
		margin-right: 0;
	}
	&__item:not(:first-child) {
		margin-top: 40px;
	}

	&__title {
		font-weight: 600;
		font-size: 25px;
		line-height: 1.32;

		letter-spacing: 0.05em;
		text-transform: uppercase;

		margin-bottom: 35px;
		margin-top: 0;

		display: flex;
		align-items: center;
	}

	&__icon {
		margin-right: 30px;
	}

	&__text {
		font-weight: 500;
		font-size: 14px;
		line-height: 1.2;

		letter-spacing: 0.03em;

		margin-bottom: 40px;
		margin-top: 0;
	}
	&__text--foto {
		margin-top: 40px;
		text-align: center;
	}
}
.work--revers {
	padding-top: 0;
}
