body {
	background-color: #141414;
	color: #ffffff;
	font-family: Oswald, sans-serif;
}

img {
	height: auto;
	display: block;
}

%list {
	padding: 0;
	margin: 0;
	list-style: none;
}

.container {
	width: 1300px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 20px;
	padding-right: 20px;
}

.title {
	font-weight: 600;
	font-size: 40px;
	line-height: 1.4;

	letter-spacing: 0.05em;
	text-transform: uppercase;

	margin-top: 0;
	margin-bottom: 40px;

    text-align: center;
}
